/* --- VISIONNEUSE D'IMAGES --- */

#image-viewer { display: none; position: fixed; z-index: 3000; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.9); cursor: zoom-out; align-items: center; justify-content: center; }
#image-viewer img { max-width: 95%; max-height: 95%; object-fit: contain; animation: zoomAnim 0.2s ease-out; }
@keyframes zoomAnim { from { transform: scale(0.7); opacity: 0; } to { transform: scale(1); opacity: 1; } }
img { cursor: zoom-in; }
#image-viewer, #image-viewer img { cursor: zoom-out !important; }